#partager{
    
    .partager_move{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .salade_share_img{
            width: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10%;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .share_form{

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h1{
                color: #B2D234;
                font-size: 3vw;
                margin-bottom: 5%;
                margin-top: 5%;
            }

            p{
                font-size: 1.5vw;
            }

        }
    }

}